parameters:
    level: 6
    paths:
        - app
        - bootstrap
        - config
        - routes
        - databases
    excludePaths:
        - app/Console/Commands/*.php
        - vendor/*
        - app/Exceptions/Handler.php
        - app/Http/Middleware/Authenticate.php
    tmpDir: phpstan_tmp
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    checkPhpDocMissingReturn: false
